/*--------------Se agregan las fuentes que se utilizarán en el proyecto------------------*/
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Rock+Salt&family=Satisfy&display=swap');

    * {
    box-sizing: border-box;
    }

    body {
    background-color: black;
    width: auto;
    height: auto;
    }

/*-------------------------Se agregan estilos a primera pantalla--------------------------*/
#pantalla1{

    display: flex;
    width: auto;
    height: 100vh;
    background-image: url(../Data/assets/Villanos/villians.jpg);
    background-size: cover;
    opacity: 0.8;
    flex-flow: column;
    column-gap: normal;
    margin: 0% 10% 0% 10%  ;
}

@media only screen and (max-width: 1900px){
    #pantalla1{
        background-size: contain;
        background-repeat: no-repeat;
    }
}

#pantalla1 image {
    max-width: 100%;
    height: 100vh;
}

#pantalla1 p{
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: greenyellow;
}

#pantalla1 input{
    background-color:#fff;
    height: 40px;
    width: 20%;
    margin: 10% 0% -8% 40%;
    padding: 1%;
    border-radius:100px;
    font-weight:bold;
    text-align:center;
    font-family: 'Berkshire Swash', cursive;
}

#pantalla1 button{
    border-radius: 10px;
    text-align: center;
    margin: auto;
    font-family: 'Berkshire Swash', cursive;
    color: rgb(58, 236, 42);
}

/*-------Estilos para pantalla 2------------------------------------------------------------*/
#pantalla2{
    display: grid;
    width: auto;
    background-image: url(../Data/assets/Villanos/villians1.jpg);
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.5fr 3fr 0.3fr;
    grid-template-areas: 
    "header header header"
    "section main main"
    "footer footer footer";
    row-gap: 5px;
    column-gap: 5px;
}

/*-------------------Se agregan las grid-area--------------------------------------------*/

header{
    grid-area: header;
    background: #ca00ff;
    background: radial-gradient(circle farthest-corner at center center, #ca00ff 0%, #070807 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #ca00ff 0%, #070807 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #ca00ff 0%, #070807 80%);
    color: blanchedalmond;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}

section{
    grid-area: section;
    background-color: black;
    color: blanchedalmond;
    font-family: 'Berkshire Swash', cursive;
}

main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    gap: 1em 1em;
}

footer{
    grid-area: footer;
    color: blanchedalmond;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}

/*---------------Se agregan estilos a links en footer------------*/
#social{
    color: blanchedalmond;
    font-family: 'Berkshire Swash', cursive;
}

/*----------Css flip transitions---------------*/

.memory-container{
    width: 155px;
    height: 150px;
    background-color: transparent;
    perspective: 1000px;
}

.memory-portrait{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}


.memory-portrait:hover{
    box-shadow: 2px 2px 78px 97px rgba(230,42,222,0.75);
    -webkit-box-shadow: 2px 2px 78px 97px rgba(230,42,222,0.75);
    -moz-box-shadow: 2px 2px 78px 97px rgba(230,42,222,0.75);

}

.memory-cover, .memory-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /*compatibilidad para internet explorer*/
}

.memory-cover{
    background-image: url(../Data/assets/Villanos/V1.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
    text-align: center;
}

.memory-back{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    border-radius: 10px;
    text-align: center;
    color: black;
}

img{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
}